services:
  signaling-server:
    image: ghcr.io/pey-k/roommate-signaling:latest
    container_name: roommate-signaling
    hostname: roommate-signaling
    environment:
      - TZ=America/New_York
      - RUST_LOG=info
    ports:
      - "9001:9001"
    restart: unless-stopped
    healthcheck:
      disable: true

networks: {}
